#bibbase {
  font-family: "Trebuchet MS", verdana, geneva, sans-serif;
  font-size: 14px;
}

.bibbase_group {
  font-size: 10pt;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.bibbase_paper {
  font-size: 9pt;
}

/* choose between icons and text (or both). Choose which one _not_ to show: */
img.bibbase_icon {
  display: none;
  text-decoration: none;
}

#img.bibbase_icon_text {
  display: none;
}

.bibbase_icon_text {
  color: #5D0001;
  font-size: 9pt;
  line-height: 12pt;
  margin-bottom: 10px;
  text-decoration: none;
}

.bibbase_icon_text:after {
  content: " | ";
}

span.bibbase_icon_text {
  text-decoration: none;
}
